In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [76]:
datafull2024 = pd.read_csv(r"C:\Users\Julio Lage\Documents\GitHub\Campeao-Brasileirao-2025\assets\data\Brasileiro 2024 (Srie A) - Dataset - Final.csv")
data2024 = pd.read_csv(r"C:\Users\Julio Lage\Documents\GitHub\Campeao-Brasileirao-2025\assets\data\Brasileiro 2024 (Srie A) - Dataset.csv")
datacampfull = pd.read_csv(r"C:\Users\Julio Lage\Documents\GitHub\Campeao-Brasileirao-2025\assets\data\campeonato-brasileiro-full.csv")
datacampcartoes = pd.read_csv(r"C:\Users\Julio Lage\Documents\GitHub\Campeao-Brasileirao-2025\assets\data\campeonato-brasileiro-cartoes.csv")
datacampestati = pd.read_csv(r"C:\Users\Julio Lage\Documents\GitHub\Campeao-Brasileirao-2025\assets\data\campeonato-brasileiro-estatisticas-full.csv")
datacampgols = pd.read_csv(r"C:\Users\Julio Lage\Documents\GitHub\Campeao-Brasileirao-2025\assets\data\campeonato-brasileiro-gols.csv")

In [48]:
datafull2024

,2024-04-13,18:30,Criciúma,1–1,Juventude,"12,804",Estádio Heriberto Hülse
0,2024-04-13,18:30,Internacional,2–1,Bahia,"19,103",Estádio José Pinheiro Borba
1,2024-04-14,16:00,Ath Paranaense,4–0,Cuiabá,"21,388",Ligga Arena
2,2024-04-14,16:00,Vasco da Gama,2–1,Grêmio,"17,722",Estádio Club de Regatas Vasco da Gama
3,2024-04-14,16:00,Corinthians,0–0,Atlético Mineiro,"44,285",Neo Química Arena
4,2024-04-14,16:00,Atl Goianiense,1–2,Flamengo,"31,617",Estádio do Governo do Estado de Goiás
...,...,...,...,...,...,...,...
374,2024-12-08,16:00,Grêmio,0–3,Corinthians,"42,945",Arena do Grêmio
375,2024-12-08,16:00,Palmeiras,0–1,Fluminense,"34,571",Allianz Parque
376,2024-12-08,16:00,Bahia,2–0,Atl Goianiense,"48,476",Itaipava Arena Fonte Nova
377,2024-12-08,16:00,Juventude,0–1,Cruzeiro,"13,518",Estádio Alfredo Jaconi
378,2024-12-08,16:00,Atlético Mineiro,1–0,Ath Paranaense,NaN,Arena MRV

In [59]:
data2024.columns

Index(['Data', 'Horário', 'Em casa', 'Resultado', 'Visitante', 'Público',
       'Local'],
      dtype='object')

In [60]:
datafull2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   2024-04-13               379 non-null    object
 1   18:30                    379 non-null    object
 2   Criciúma                 379 non-null    object
 3   1–1                      379 non-null    object
 4   Juventude                379 non-null    object
 5   12,804                   375 non-null    object
 6   Estádio Heriberto Hülse  379 non-null    object
dtypes: object(7)
memory usage: 20.9+ KB

In [ ]:
datafull2024.columns  = ['Data', 'Horário', 'Em casa', 'Resultado', 'Visitante', 'Público',
       'Local']

In [62]:
datafull2024

,Data,Horário,Em casa,Resultado,Visitante,Público,Local
0,2024-04-13,18:30,Internacional,2–1,Bahia,"19,103",Estádio José Pinheiro Borba
1,2024-04-14,16:00,Ath Paranaense,4–0,Cuiabá,"21,388",Ligga Arena
2,2024-04-14,16:00,Vasco da Gama,2–1,Grêmio,"17,722",Estádio Club de Regatas Vasco da Gama
3,2024-04-14,16:00,Corinthians,0–0,Atlético Mineiro,"44,285",Neo Química Arena
4,2024-04-14,16:00,Atl Goianiense,1–2,Flamengo,"31,617",Estádio do Governo do Estado de Goiás
...,...,...,...,...,...,...,...
374,2024-12-08,16:00,Grêmio,0–3,Corinthians,"42,945",Arena do Grêmio
375,2024-12-08,16:00,Palmeiras,0–1,Fluminense,"34,571",Allianz Parque
376,2024-12-08,16:00,Bahia,2–0,Atl Goianiense,"48,476",Itaipava Arena Fonte Nova
377,2024-12-08,16:00,Juventude,0–1,Cruzeiro,"13,518",Estádio Alfredo Jaconi
378,2024-12-08,16:00,Atlético Mineiro,1–0,Ath Paranaense,NaN,Arena MRV

In [64]:
nova_linha = {
    'Data': '2024-04-13',
    'Horário': '18:30',
    'Em casa': 'Criciúma',
    'Resultado': '1–1',
    'Visitante': 'Juventude',
    'Público': '12,804',
    'Local': 'Estádio Heriberto Hülse'
}

# Criar um DataFrame para a nova linha
nova_linha_df = pd.DataFrame([nova_linha], columns=datafull2024.columns)

# Concatenar a nova linha com o DataFrame original
datafull2024 = pd.concat([nova_linha_df, datafull2024], ignore_index=True)

In [68]:
datafull2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Data       380 non-null    object
 1   Horário    380 non-null    object
 2   Em casa    380 non-null    object
 3   Resultado  380 non-null    object
 4   Visitante  380 non-null    object
 5   Público    376 non-null    object
 6   Local      380 non-null    object
dtypes: object(7)
memory usage: 20.9+ KB

In [56]:
# 1ª rodada (13/04, 14/04 ou 15/04)
# 2ª rodada (17/04 18/04
# 3ª rodada (20/04, 21/04 ou 22/04)
# 4ª rodada (27/04, 28/04 ou 29/04)
# 5ª rodada (04/05, 05/05 ou 06/05)
# 6ª rodada (11/05, 12/05 ou 13/05)
# 7ª rodada (18/05, 19/05 ou 20/05)
# 8ª rodada (25/05, 26/05 ou 27/05)
# 9ª rodada (01/06 ou 02/06)
# 10ª rodada (12/06 ou 13/06)
# 11ª rodada (15/06, 16/09 ou 17/06)
# 12ª rodada (19/06 ou 20/06)
# 13ª rodada (22, 23 ou 24/06)
# 14ª rodada (26 ou 27/06)
# 15ª rodada (29, 30 ou 01/07)
# 16ª rodada (03 ou 04/07)
# 17ª rodada (06, 07 ou 08/07)
# 18ª rodada (10 ou 11/07)
# 19ª rodada (17 ou 18/07)
# 20ª rodada (20, 21 ou 22/07)
# 21ª rodada (27, 28 ou 29/07)
# 22ª rodada (03, 04 ou 05/08)
# 23ª rodada (10, 11 e 12/08)
# 24ª rodada (17, 18 ou 19/08)
# 25ª rodada (24, 25 ou 26/08)
# 26ª rodada (31/08 ou 01/09)
# 27ª rodada (14, 15 ou 16/09)
# 28ª rodada (21, 22 ou 23/09)
# 29ª rodada (28, 29 ou 30/09)
# 30ª rodada (04 ou 05/10)
# 31ª rodada (19 ou 20/10)
# 32ª rodada (25 ou 26/10)
# 33ª rodada (6 ou 7/11)
# 34ª rodada (20 ou 21/11)
# 35ª rodada (23, 24 ou 25/11
# 36ª rodada (30/11, 01/12 ou 02/12)
# 37ª rodada (04 ou 05/12)
# 38ª rodada (08/12)

In [72]:
def determinar_rodada(data):
    data_obj = datetime.strptime(data, '%Y-%m-%d')
    if data_obj in pd.to_datetime(['2024-04-13', '2024-04-14', '2024-04-15']):
        return '1'
    elif data_obj in pd.to_datetime(['2024-04-17', '2024-04-18']):
        return '2'
    elif data_obj in pd.to_datetime(['2024-04-20', '2024-04-21', '2024-04-22']):
        return '3'
    elif data_obj in pd.to_datetime(['2024-04-27', '2024-04-28', '2024-04-29']):
        return '4'
    elif data_obj in pd.to_datetime(['2024-05-04', '2024-05-05', '2024-05-06']):
        return '5'
    elif data_obj in pd.to_datetime(['2024-05-11', '2024-05-12', '2024-05-13']):
        return '6'
    elif data_obj in pd.to_datetime(['2024-05-18', '2024-05-19', '2024-05-20']):
        return '7'
    elif data_obj in pd.to_datetime(['2024-05-25', '2024-05-26', '2024-05-27']):
        return '8'
    elif data_obj in pd.to_datetime(['2024-06-01', '2024-06-02']):
        return '9'
    elif data_obj in pd.to_datetime(['2024-06-12', '2024-06-13']):
        return '10'
    elif data_obj in pd.to_datetime(['2024-06-15', '2024-06-16', '2024-06-17']):
        return '11'
    elif data_obj in pd.to_datetime(['2024-06-19', '2024-06-20']):
        return '12'
    elif data_obj in pd.to_datetime(['2024-06-22', '2024-06-23', '2024-06-24']):
        return '13'
    elif data_obj in pd.to_datetime(['2024-06-26', '2024-06-27']):
        return '14'
    elif data_obj in pd.to_datetime(['2024-06-29', '2024-06-30', '2024-07-01']):
        return '15'
    elif data_obj in pd.to_datetime(['2024-07-03', '2024-07-04']):
        return '16'
    elif data_obj in pd.to_datetime(['2024-07-06', '2024-07-07', '2024-07-08']):
        return '17'
    elif data_obj in pd.to_datetime(['2024-07-10', '2024-07-11']):
        return '18'
    elif data_obj in pd.to_datetime(['2024-07-17', '2024-07-18']):
        return '19'
    elif data_obj in pd.to_datetime(['2024-07-20', '2024-07-21', '2024-07-22']):
        return '20'
    elif data_obj in pd.to_datetime(['2024-07-27', '2024-07-28', '2024-07-29']):
        return '21'
    elif data_obj in pd.to_datetime(['2024-08-03', '2024-08-04', '2024-08-05']):
        return '22'
    elif data_obj in pd.to_datetime(['2024-08-10', '2024-08-11', '2024-08-12']):
        return '23'
    elif data_obj in pd.to_datetime(['2024-08-17', '2024-08-18', '2024-08-19']):
        return '24'
    elif data_obj in pd.to_datetime(['2024-08-24', '2024-08-25', '2024-08-26']):
        return '25'
    elif data_obj in pd.to_datetime(['2024-08-31', '2024-09-01']):
        return '26'
    elif data_obj in pd.to_datetime(['2024-09-14', '2024-09-15', '2024-09-16']):
        return '27'
    elif data_obj in pd.to_datetime(['2024-09-21', '2024-09-22', '2024-09-23']):
        return '28'
    elif data_obj in pd.to_datetime(['2024-09-28', '2024-09-29', '2024-09-30']):
        return '29'
    elif data_obj in pd.to_datetime(['2024-10-04', '2024-10-05']):
        return '30'
    elif data_obj in pd.to_datetime(['2024-10-19', '2024-10-20']):
        return '31'
    elif data_obj in pd.to_datetime(['2024-10-25', '2024-10-26']):
        return '32'
    elif data_obj in pd.to_datetime(['2024-11-06', '2024-11-07']):
        return '33'
    elif data_obj in pd.to_datetime(['2024-11-20', '2024-11-21']):
        return '34'
    elif data_obj in pd.to_datetime(['2024-11-23', '2024-11-24', '2024-11-25']):
        return '35'
    elif data_obj in pd.to_datetime(['2024-11-30', '2024-12-01', '2024-12-02']):
        return '36'
    elif data_obj in pd.to_datetime(['2024-12-04', '2024-12-05']):
        return '37'
    elif data_obj == pd.to_datetime('2024-12-08'):
        return '38'
    return 'Rodada desconhecida'

# Aplicando a função ao DataFrame
datafull2024['Rodada'] = datafull2024['Data'].apply(determinar_rodada)

In [73]:
datafull2024.infer_objects()

,Data,Horário,Em casa,Resultado,Visitante,Público,Local,Rodada
0,2024-04-13,18:30,Criciúma,1–1,Juventude,"12,804",Estádio Heriberto Hülse,1
1,2024-04-13,18:30,Internacional,2–1,Bahia,"19,103",Estádio José Pinheiro Borba,1
2,2024-04-14,16:00,Ath Paranaense,4–0,Cuiabá,"21,388",Ligga Arena,1
3,2024-04-14,16:00,Vasco da Gama,2–1,Grêmio,"17,722",Estádio Club de Regatas Vasco da Gama,1
4,2024-04-14,16:00,Corinthians,0–0,Atlético Mineiro,"44,285",Neo Química Arena,1
...,...,...,...,...,...,...,...,...
375,2024-12-08,16:00,Grêmio,0–3,Corinthians,"42,945",Arena do Grêmio,38
376,2024-12-08,16:00,Palmeiras,0–1,Fluminense,"34,571",Allianz Parque,38
377,2024-12-08,16:00,Bahia,2–0,Atl Goianiense,"48,476",Itaipava Arena Fonte Nova,38
378,2024-12-08,16:00,Juventude,0–1,Cruzeiro,"13,518",Estádio Alfredo Jaconi,38
379,2024-12-08,16:00,Atlético Mineiro,1–0,Ath Paranaense,NaN,Arena MRV,38

In [77]:
datacampfull

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
0,1,1,29/03/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,Brinco de Ouro,4,2,SP,RJ
1,2,1,29/03/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,Arena da Baixada,2,0,PR,RS
2,3,1,30/03/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR
3,4,1,30/03/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA
4,5,1,30/03/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8400,8401,38,06/12/2023,21:32,Bahia,Atletico-MG,3-4-2-1,4-4-2,R. Ceni,L. Scolari,Bahia,Itaipava Arena Fonte Nova,4,1,BA,MG
8401,8402,38,06/12/2023,21:32,Cuiaba,Athletico-PR,5-3-2,3-4-3,A. Cardoso de Oliveira,W. Carvalho,Cuiaba,Arena Pantanal,3,0,MT,PR
8402,8403,38,06/12/2023,21:32,Santos,Fortaleza,3-4-1-2,4-2-3-1,M. Fernandes,J. Vojvoda,Fortaleza,Estádio Urbano Caldeira,1,2,SP,CE
8403,8404,38,06/12/2023,21:32,Sao Paulo,Flamengo,4-2-3-1,4-2-3-1,D. Silvestre Júnior,A. Bacchi,Sao Paulo,Morumbi,1,0,SP,RJ
8404,8405,38,06/12/2023,21:32,Vasco,Bragantino,4-4-2,4-3-3,R. Díaz,P. Faria Caixinha,Vasco,Estádio São Januário,2,1,RJ,SP

In [ ]:
datacampfull.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8405 entries, 0 to 8404
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8405 non-null   int64
 1   rodata              8405 non-null   int64
 2   data                8405 non-null   object
 3   hora                8405 non-null   object
 4   mandante            8405 non-null   object
 5   visitante           8405 non-null   object
 6   formacao_mandante   3431 non-null   object
 7   formacao_visitante  3431 non-null   object
 8   tecnico_mandante    3795 non-null   object
 9   tecnico_visitante   3795 non-null   object
 10  vencedor            8405 non-null   object
 11  arena               8405 non-null   object
 12  mandante_Placar     8405 non-null   int64
 13  visitante_Placar    8405 non-null   int64
 14  mandante_Estado     8405 non-null   object
 15  visitante_Estado    8405 non-null   object
dtypes: int64(4), object(12)
memory usage: 1.0+ MB

In [78]:
datacampcartoes

,partida_id,rodata,clube,cartao,atleta,num_camisa,posicao,minuto
0,4607,1,Figueirense,Amarelo,Paulo Roberto da Silva,28.0,NaN,66
1,4607,1,Figueirense,Amarelo,Thiago Heleno,4.0,Zagueiro,44
2,4608,1,Internacional,Amarelo,Andrés D'Alessandro,10.0,Meio-campo,72
3,4608,1,Vitoria,Amarelo,Marcelo Machado dos Santos,29.0,NaN,86
4,4608,1,Vitoria,Amarelo,Mansur,NaN,Zagueiro,10
...,...,...,...,...,...,...,...,...
18852,8405,38,Vasco,Amarelo,Gabriel Pec,11.0,Atacante,90+5
18853,8405,38,Vasco,Amarelo,Paulinho,18.0,Meio-campo,51
18854,8405,38,Vasco,Amarelo,Gary Medel,17.0,Zagueiro,84
18855,8405,38,Bragantino,Amarelo,Eduardo Sasha,19.0,Atacante,17
18856,8405,38,Bragantino,Vermelho,Léo Realpe,2.0,Zagueiro,75

In [81]:
datacampgols

,partida_id,rodata,clube,atleta,minuto,tipo_de_gol
0,4607,1,Fluminense,Nirley da Silva Fonseca,59,Gol Contra
1,4607,1,Fluminense,Fred,45,Penalty
2,4607,1,Fluminense,Rafael Sóbis,31,NaN
3,4608,1,Internacional,Charles Aránguiz,6,NaN
4,4612,1,Cruzeiro,Nílton Ferreira Júnior,63,NaN
...,...,...,...,...,...,...
8927,8403,38,Santos,Messias Rodrigues da Silva Júnior,58,NaN
8928,8404,38,Sao Paulo,Luciano da Rocha Neves,26,NaN
8929,8405,38,Vasco,Sergio Antonio De Luiz Junior,82,NaN
8930,8405,38,Bragantino,Léo Ortiz,63,NaN
8931,8405,38,Vasco,Paulinho,29,NaN

In [82]:
datacampestati

,partida_id,rodata,clube,chutes,chutes_no_alvo,posse_de_bola,passes,precisao_passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
0,1,1,Guarani,0,0,NaN,0,NaN,0,0,0,0,0
1,1,1,Vasco,0,0,NaN,0,NaN,0,0,0,0,0
2,2,1,Gremio,0,0,NaN,0,NaN,0,0,0,0,0
3,2,1,Athletico-PR,0,0,NaN,0,NaN,0,0,0,0,0
4,3,1,Coritiba,0,0,NaN,0,NaN,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16805,8403,38,Santos,15,6,55%,353,77%,15,2,0,4,10
16806,8404,38,Sao Paulo,9,3,42%,406,84%,13,0,0,2,4
16807,8404,38,Flamengo,10,2,58%,535,89%,16,3,0,0,9
16808,8405,38,Vasco,13,6,45%,321,78%,8,3,0,0,2
16809,8405,38,Bragantino,9,2,55%,398,80%,14,1,1,1,3